* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#header {
    display: flex;
    justify-content: space-between;
}

#header,
#main section {
    margin: 30px;
}

#header .menu {
    margin-top: 20px;
}

#header #iconePesquisa,
#btnEntrar {
    margin-top: 10px;
    cursor: pointer;
}

#header .icone-menuHamburguer {
    display: none;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

.menu ul li {
    display: inline;
    margin-left: 60px;
}

.menu ul #li-xbox {
    margin-left: 0px;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
}

.menu ul li .dropdown {
    display: inline-block;
}

.menu ul li .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.menu ul li .dropdown .dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.menu ul li .dropdown .dropdown-content a:hover {
    background-color: #f1f1f1
}

.menu ul li .dropdown:hover .dropdown-content {
    display: block;
}

#header #btnEntrar {
    border: none;
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    height: 35px;
    text-align: center;
}

#main .subMenu {
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 10px;
    line-height: 25px;
}

#main .subMenu ul {
    display: flex;
}

#main .subMenu ul .linha-vertical {
    height: 30px;
    border-left: 2px solid #c2c0c0;
    margin-left: 150px;
    margin-right: 75px;
}

#main .subMenu ul #li-esportes {
    margin-left: 0px;
}

#main section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 80px;
}

#main section .divSombra {
    margin-top: -130px;
    position: relative;
    z-index: 2;
    height: 126px;
}

#main section .divSombra-fifa {
    background-color: #0000ff5a;
}

#main section .divSombra-jurassicPark {
    background-color: #ff000052;
}

#main section .divSombra-ps4 {
    background-color: #ffff0057;
}

#main section .divSombra-tomCruise {
    background-color: #add8e65d;
}

#main #menuHamburguer {
    display: none;
    background-color: #f0f0f0;
    text-align: center;
}

#main #menuHamburguer ul li {
    display: block;
    margin-left: 0px;
    padding: 20px;
}

#main #menuHamburguer ul li:hover {
    background-color: #ddd;
    transition: 0.3s;
}

@media screen and (max-width: 1200px) {
    #header .menu {
        display: none;
    }

    #header .icone-menuHamburguer {
        display: block;
    }

    #main .subMenu {
        display: none;
    }
}